body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
.credits {
    font-size: 0.9em;
    margin-top: 20px;
}
.accordion {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
}
.accordion.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
    overflow: hidden;
}
.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image-container img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
}
.video-container {
    text-align: center;
}
.video-container iframe {
    width: 80%;
    height: 400px;
    border-radius: 8px;
}

